/* index.html : */

html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 40px;
}

.mapa{
    width: 100vw;
    height: 100vh;
}

#textoChiquito {
    font-family: Arial;
    font-size: 12px;
    
}

table{
    /*border-collapse: separate;*/
    border-collapse: collapse;
}

footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
